@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply p-2 bg-gray-400 bg-gray-300 shadow;
}

button:hover {
  @apply bg-gray-200;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-400;
}

input {
  @apply border-black border;
}

.error-box {
  @apply border-red-600;
}

td {
  @apply border border-black p-1;
}

tr:first-child td {
  @apply font-bold;
}

tr:not(:first-child):nth-child(odd) {
  @apply bg-gray-200;
}

.selected {
  @apply font-bold bg-gray-200;
}

.selected-lite {
  @apply font-bold;
}

.hide {
  @apply hidden;
}

.country-links-list-wrapper:hover {
  @apply cursor-pointer;
}

.country-links-list-link:hover {
  @apply underline;
}

ul[data-cy='countries-list'] li:nth-child(odd) {
  @apply bg-gray-200;
}

ul[data-cy='countries-list'] li:nth-child(even) {
  @apply shadow;
}
