@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply p-2 bg-gray-400 bg-gray-300 shadow;
}

button:hover {
  @apply bg-gray-200;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-400;
}

input {
  @apply border-black border;
}

.error-box {
  @apply border-red-600;
}

td {
  @apply border border-black p-1;
}

tr:first-child td {
  @apply font-bold;
}

tr:not(:first-child):nth-child(odd) {
  @apply bg-gray-200;
}

.nav-bar-link {
  @apply text-black block py-4 px-2 no-underline;
}

.nav-bar-link:hover {
  @apply underline text-black bg-gray-100;
}

.selected {
  @apply font-bold bg-gray-200;
}

.selected-lite {
  @apply font-bold;
}

.hide {
  @apply hidden;
}

.country-links-list-wrapper:hover {
  @apply cursor-pointer;
}
